.formComponent {
  .formContainer {
    text-align: center;
    font-family: $font1;
  }
  form {
    width: 300px;
    margin: 0 auto;

    input[type='text'] {
      padding: 5px;
      border-radius: 5px 5px 0 0;
      border: none;
      font-size: 1.2rem;
      display: block;
      margin: 0 auto;
      width: 220px;
      outline: none;
      text-align: center;
      font-family: $font1;
    }
    input[type='submit'] {
      padding: 5px;
      width: 220px;
      border-radius: 0 0 5px 5px;
      border: none;
      background: $color4;
      color: white;
      font-size: 1.2rem;
      cursor: pointer;
      z-index: 10;
      position: relative;
      -webkit-transition: 0.2s linear;
      transition: 0.2s linear;
      font-family: $font1;

      &:hover {
        background: #7a1e1e;
      }
    }
  }
  .btnSortContainer {
    margin: 15px auto;
    width: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;

    #goodToBad {
      border-radius: 5px;
    }
    #badToGood {
      border-radius: 5px;
    }
    #goodToBad,
    #badToGood {
      background: $color4;
      width: 30px;
      transition: 0.3s;
      position: relative;

      &:hover {
        background: #7a1e1e;
      }
    }
  }
  .result {
    margin-top: 3rem;
    padding-bottom: 10rem;
    font-family: $font1;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
