.logo {
  display: flex;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  height: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-family: $font1;

  h2 {
    color: $color4;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  img {
    height: 34px;
    width: 34px;
    margin-right: 10px;
    object-fit: cover;
  }
}
