.navigation {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;

  a {
    margin: 2rem;
    position: relative;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }

  a:hover {
    color: #a7a7a7;
  }

  .activated {
    color: $color4;
  }
}
